.cursor {
  color: #263e5e;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 943;
  line-height: normal;
  text-transform: uppercase;
  text-rendering: optimizelegibility;
  line-height: 1.25;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  pointer-events: none;
  z-index: 500;
  position: fixed;
  top: 15px;
  left: 5px;
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(1140px, 11px);
}
