footer {
  width: 100%;
  background: #263e5e;
  height: 295px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;

  font-style: normal;
  font-weight: 450;
  line-height: normal;
  text-transform: uppercase;
}

footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: first baseline baseline;
  // border: solid black 2px;
}

.footer-img {
  margin-bottom: 16px;
}

footer nav {
  display: flex;
  flex-direction: row;

  // border: solid black 2px;
  font-size: 18px;
}

.footer-content .brands,
.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin-right: 116px;
  // border: solid black 2px;
}

.footer-link {
  margin-bottom: 16px;
}

.footer-link:hover {
  text-decoration: underline;
}
