@keyframes blur {
  from {
    filter: blur(4px);
  }

  to {
    filter: blur(0px);
  }
}

header {
  position: relative;
}

.header-welcome {
  background-image: url("../img/train.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: blur;
  animation-duration: 3s;
}

@keyframes slide {
  from {
    right: -20%;
  }

  to {
    right: 10%;
  }
}

.header-logo {
  position: absolute;
  height: 18%;
  bottom: 10%;
  right: 10%;
  z-index: 1;
  animation-name: slide;
  animation-duration: 3s;
}

// @keyframes indicate {
//   from {
//     filter: opacity(0%);
//   }

//   to {
//     filter: opacity(100%);
//   }
// }

// .header-picto {
//   position: absolute;
//   width: 5%;
//   top: 80%;
//   left: 48%;
//   animation-name: indicate;
//   animation-duration: 2s;
//   animation-iteration-count: infinite;
//   transition: ease-out;
// }
@keyframes fadeInOut {
  0%,
  100% {
    filter: opacity(0%);
  }

  50% {
    filter: opacity(100%);
  }
}

.header-picto {
  position: absolute;
  width: 5%;
  top: 80%;
  left: 48%;
  animation: fadeInOut 3s ease-out infinite;
}
